* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #333;
	color: white;
	text-align: center;
}

.container {
	width: 100rem;
	margin: 0 auto;
	box-sizing: border-box;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}

header>p {
	font-size: 1.5rem;
	font-weight: 700;
}

header>ul {
	display: flex;
}

header>ul>li {
	list-style-type: none;
	margin-left: 1.5rem;
}

header>ul>li>a {
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: 800;
	padding-bottom: 5px;
}

header>ul>li>a:link {
	color: white;
}
header>ul>li>a:visited {
	color: white;
}
header>ul>li>a: active {
	color: white;
}

header>ul>li:nth-child(3)>a {
	border-bottom: 5px solid black;
}

header>ul>li>a:hover {
	border-bottom: 5px solid gray;
}

section {
	padding: 0 20rem;
	text-align: center;
}

section>table>thead>tr>td {
	font-size: 1.6rem;
	font-weight: bold;
	padding: 0.4rem;
	border-bottom: 1px solid gray;
}

section>table>tbody>tr>td {
	font-size: 1.2rem;
	padding: 0.4rem;
	border-bottom: 1px solid gray;
}

section>table>tbody>tr>td>a {
	text-decoration: none;
}

section>table>tbody>tr>td>a:link {
	color: white;
}
section>table>tbody>tr>td>a:visited {
	color: white;
}
section>table>tbody>tr>td>a: active {
	color: white;
}

section>table>tbody>tr>td:nth-child(2) {
	text-align: left;
}

footer {
	margin-bottom: 2rem;
	font-size: 1.1rem;
}

footer>p>a {
	text-decoration: none;
	color: white;
}

footer>p>a:link {
	color: white;
}
footer>p>a:visited {
	color: white;
}
footer>p>a: active {
	color: white;
}